@import "./homePage.css";
@import "./login.css";
@import "./register.css";
@import "./form.css";
@import "./search.css";
@import "./dashboard.css";

html {
    box-sizing: border-box;
  }
  
  body,
  #root {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .link{
    color: black;
  }