.imagen {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 80vw;
    height: 100vh;
    
}

.login {
    overflow: hidden;
    background-color: white;
    height: 100vh;
    width: 70%;
    position: relative;
    left: 770px;
    
}

.container {
    padding-top: 250px;
    padding-left: 50px;
    padding-right: 400px;
    
} 

.logint {
    font-size: 1.75rem;
    color: #0f699b;
}